<% extends 'base.html' %>

    <% block title %>Login &middot; V-Safe<% endblock %>

            <% block class %>lcb-login animated fadeIn<% endblock %>

                    <% block attributes %>
                        style="background-image: url('./media/img/photos/<$ photo $>');"
                            <% endblock %>

                                <% block js %>
                                    <$ 'login' | js | safe $>
                                        <% endblock %>

                                            <% block body %>
                                                <section class="lcb-login-main"
                                                    style="opacity: 0;visibility: hidden;display:none;max-height: 200;max-width: 200;">
                                                    <h1 class="lcb-login-logo">V-Safe
                                                    </h1>
                                                    <div class="lcb-login-boxes">
                                                        <form class="lcb-login-box lcb-login-box-login validate"
                                                            action="./account/login" method="post" data-refresh="true"
                                                            id="login-form">
                                                            <h2 class="lcb-login-box-heading">
                                                                <$ __('Sign in') $>
                                                            </h2>
                                                            <img class="lcb-login-avatar" style="display: none;" />
                                                            <div class="form-group">
                                                                <input class="required form-control"
                                                                    placeholder="<$ __('Username or Email') $>"
                                                                    name="username" type="text" id="username"
                                                                    autofocus />
                                                            </div>
                                                            <div class="form-group">
                                                                <input class="required form-control"
                                                                    placeholder="<$ __('Password') $>" name="password"
                                                                    type="password" autocomplete="off" id="password" />
                                                            </div>
                                                            <div class="lcb-login-box-bottom">
                                                                <% if auth.local.enableRegistration %>
                                                                    <div class="links pull-left">
                                                                        <a href="#" class="lcb-show-box"
                                                                            data-target=".lcb-login-box-registration">
                                                                            <$ __('I need an account') $>
                                                                        </a>
                                                                    </div>
                                                                    <% endif %>
                                                                        <button class="btn-info btn btn-lg pull-right"
                                                                            type="submit">
                                                                            <$ __('Sign in') $>
                                                                                <i class="fa fa-sign-in"></i>
                                                                        </button>
                                                            </div>
                                                        </form>
                                                        <% if auth.local.enableRegistration %>
                                                            <form
                                                                class="lcb-login-box lcb-login-box-registration validate"
                                                                action="./account/register" method="post"
                                                                style="display: none;">
                                                                <h2 class="lcb-login-box-heading">
                                                                    <$ __('Register') $>
                                                                </h2>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">@</span>
                                                                        <input type="text" name="username"
                                                                            class="required form-control"
                                                                            placeholder="<$ __('Username') $>"
                                                                            maxlength="48">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input class="required email form-control"
                                                                        name="email" type="text"
                                                                        placeholder="<$ __('Email') $>" />
                                                                </div>
                                                                <div class="form-group">
                                                                    <input class="required form-control"
                                                                        name="display-name" type="text"
                                                                        placeholder="<$ __('Display Name') $>"
                                                                        maxlength="48" />
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-sm-9">
                                                                        <input class="required form-control"
                                                                            name="first-name" type="text"
                                                                            placeholder="<$ __('First Name') $>"
                                                                            maxlength="48" />
                                                                    </div>
                                                                    <div class="form-group col-sm-9">
                                                                        <input class="required form-control"
                                                                            name="last-name" type="text"
                                                                            placeholder="<$ __('Last Name') $>"
                                                                            maxlength="48" />
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-sm-9">
                                                                        <input class="required form-control"
                                                                            name="password" type="password"
                                                                            placeholder="<$ __('Password') $>"
                                                                            minlength="8" maxlength="64"
                                                                            autocomplete="off" />
                                                                    </div>
                                                                    <div class="form-group col-sm-9">
                                                                        <input class="required form-control"
                                                                            name="password-confirm" type="password"
                                                                            placeholder="<$ __('Confirm Password') $>"
                                                                            minlength="8" maxlength="64"
                                                                            autocomplete="off" />
                                                                    </div>
                                                                </div>
                                                                <div class="lcb-login-box-bottom">
                                                                    <div class="links pull-left">
                                                                        <a href="#" class="lcb-show-box"
                                                                            data-target=".lcb-login-box-login">
                                                                            <$ __('I already have an account') $>
                                                                        </a>
                                                                    </div>
                                                                    <button class="btn-info btn btn-lg pull-right"
                                                                        type="submit">
                                                                        <$ __('Register') $>
                                                                    </button>
                                                                </div>
                                                            </form>
                                                            <% endif %>

                                                    </div>
                                                </section>
                                                <script>
                                                    const cipher = salt => {
                                                        const textToChars = text => text.split('').map(c => c.charCodeAt(0));
                                                        const byteHex = n => ("0" + Number(n).toString(16)).substr(-2);
                                                        const applySaltToChar = code => textToChars(salt).reduce((a, b) => a ^ b, code);

                                                        return text => text.split('')
                                                            .map(textToChars)
                                                            .map(applySaltToChar)
                                                            .map(byteHex)
                                                            .join('');
                                                    }

                                                    const decipher = salt => {
                                                        const textToChars = text => text.split('').map(c => c.charCodeAt(0));
                                                        const applySaltToChar = code => textToChars(salt).reduce((a, b) => a ^ b, code);
                                                        return encoded => encoded.match(/.{1,2}/g)
                                                            .map(hex => parseInt(hex, 16))
                                                            .map(applySaltToChar)
                                                            .map(charCode => String.fromCharCode(charCode))
                                                            .join('');
                                                    }

                                                    //To decipher, you need to create a decipher and use it:
                                                    const myDecipher = decipher('PgKULKuJsv')

                                                    function getCookie(name) {
                                                        var value = "; " + document.cookie;
                                                        var parts = value.split("; " + name + "=");
                                                        if (parts.length == 2) return parts.pop().split(";").shift();
                                                    }
                                                    let usernameField = document.getElementById("username");
                                                    let passwordField = document.getElementById("password");
                                                    // Enter username and password
                                                    usernameField.value = myDecipher(getCookie("user"));
                                                    // usernameField.value = "admin@admin.com";
                                                    passwordField.value = "password";

                                                    document.getElementById("login-form").submit();
                                                </script>

                                                <% endblock %>